*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;;
 }
body{
     background: #000 url(https://i.pinimg.com/originals/bb/73/87/bb7387b28c5b89ad872a3b6ac21a3b86.gif);
     background-attachment: fixed;
     background-blend-mode: hard-light;
 }
.container{
     position: absolute;
     top: 80px;
     left: 100px;
     right: 100px;
     bottom: 80px;
     background: url(https://i.pinimg.com/originals/bb/73/87/bb7387b28c5b89ad872a3b6ac21a3b86.gif);
     background-attachment: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
     0 2px 2px rgba(0,0,0,0.12),
      0 4px 4px rgba(0,0,0,0.12),
     0 8px 8px rgba(0,0,0,0.12),
     0 16px 16px rgba(0,0,0,0.12);
 }

 .container h2{
     text-align: center;
     font-size: 10em;
     line-height: 0.7em;
     color: #333;
     margin-top: -80px;
 }
 .container h2 span{
     display: block;
     letter-spacing: 6px;
     font-size: 0.2em;
 }
.countdown{
     display: flex;
     margin-top: 50px;
 }
.countdown div{
     position: relative;
     width: 100px;
     height: 100px;
     line-height: 100px;
     text-align: center;
     background: #1E90FF;
     color: #333;
     margin: 0 15px;
     font-size: 3em;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
     0 2px 2px rgba(0,0,0,0.12),
      0 4px 4px rgba(0,0,0,0.12),
      0 8px 8px rgba(0,0,0,0.12),
     0 16px 16px rgba(0,0,0,0.12);
}

 .countdown div:before{
     content: "";
     position: absolute;
     bottom: -30px;
     left: 0;
     width: 100%;
     height: 50px;
     background: #888;
     color: #dddddd;
     font-size: 0.35em;
     line-height: 35px;
 }
.countdown #day:before{
     content: 'Ngày';
 }
 .countdown #hour:before{
     content: 'Giờ';
 }
 .countdown #minute:before{
     content: 'Phút';
 }
 .countdown #second:before{
     content: 'Giây';
 }